extends layout

block content
    #my-carousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#my-carousel', data-slide-to='0')
            li(data-target='#my-carousel', data-slide-to='1')
            li(data-target='#my-carousel', data-slide-to='2')
        .carousel-inner(role='listbox')
            .item.active
                img(src='images/mate-bombilla.jpg')
                .carousel-caption
                    h3 Mate bombilla
            .item
                img(src='images/portada.jpg')
                .carousel-caption
                    h3 Portada
            .item
                img(src='images/yerba-mate-2.jpg')
                .carousel-caption
                    h3 Yerba mate
        a.left.carousel-control(href='#my-carousel', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            |
            span.sr-only Previous
        a.right.carousel-control(href='#my-carousel', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            |
            span.sr-only Next
    #top.container.text-center
        br
        br
        #my-header TOP 5 PRODUCTS
        br
        br
        br
        div.row
            .col-sm-4
                a(href='#product1' data-toggle='collapse')
                    img.img-responsive.img-circle(src=topProducts[0].imagePath)
                br
                p.text-center
                    strong #{topProducts[0].name}
                #product1.collapse
                    p #{topProducts[0].description}
            .col-sm-4
                a(href='#product2' data-toggle='collapse')
                    img.img-circle.img-responsive(src=topProducts[1].imagePath)
                br
                p.text-center
                    strong #{topProducts[1].name}
                #product2.collapse
                    p #{topProducts[1].description}
            .col-sm-4
                a(href='#product3' data-toggle='collapse')
                    img.img-circle.img-responsive(src=topProducts[2].imagePath)
                br
                p.text-center
                    strong #{topProducts[2].name}
                #product3.collapse
                    p #{topProducts[2].description}
        br
        br
        br
        #center-row.div.row
            .col-sm-4.col-sm-offset-2
                a(href='#product4' data-toggle='collapse')
                    img.img-circle.img-responsive(src=topProducts[3].imagePath)
                br
                p.text-center
                    strong #{topProducts[3].name}
                #product4.collapse
                    p #{topProducts[3].description}
            .col-sm-4
                a(href='#product5' data-toggle='collapse')
                    img.img-circle.img-responsive(src=topProducts[4].imagePath)
                br
                p.text-center
                    strong #{topProducts[4].name}
                #product5.collapse
                    p #{topProducts[4].description}